/* Custom Theming for Angular Material
For more information: https://material.angular.io/guide/theming */
@use '@angular/material' as mat;

/* Include the common styles for Angular Material. We include this here so that you only
have to load a single css file for Angular Material in your app.
Be sure that you only ever include this mixin once! */
@include mat.core();


/* Folgende Farben für die Palette von https://www.unibw.de/itpe/old-stuff/farben :
White: #FFFFFF
University Gray: #C0C0C0
University Orange: #FF6600
Medium Gray: #A0A0A0
Light Gray: #E0E0E0
Dark Blue: #000080
*/


// Define custom palettes using specific colors
$unibw-orange: (
  500: #FF6600,
  600: #CC5200,
  contrast: (
    500: #FFFFFF,
    600: #FFFFFF,
  )
);

$unibw-blue: (
  500: #000080,
  600: #333399,
  contrast: (
    500: #FFFFFF,
    600: #FFFFFF,
  )
);

$unibw-gray: (
  500: #C0C0C0,
  600: #A0A0A0,
  700: #E0E0E0,
  contrast: (
    500: #000000,
    600: #000000,
    700: #000000,
  )
);

/* Define the palettes for your theme using the Material Design palettes available in palette.scss
(imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
Available color palettes: https://material.io/design/color/ */
$Abschlussarbeiten-primary: mat.define-palette($unibw-orange);
$Abschlussarbeiten-accent: mat.define-palette($unibw-blue);
$Abschlussarbeiten-background: mat.define-palette($unibw-gray);
// $Abschlussarbeiten-primary: mat.define-palette(mat.$orange-palette);
// $Abschlussarbeiten-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);


// Optional warn palette (defaults to red).
$Abschlussarbeiten-warn: mat.define-palette(mat.$red-palette);

/* Create the theme object. 
A theme consists of configurations for individual theming systems such as "color" or "typography". */
$Abschlussarbeiten-theme: mat.define-light-theme((
  color: (
    primary: $Abschlussarbeiten-primary,
    accent: $Abschlussarbeiten-accent,
    warn: $Abschlussarbeiten-warn,
    background: $Abschlussarbeiten-background,
  )
));

/* Include theme styles for core and each component used in your app.
Alternatively, you can import and @include the theme mixins for each component
that you are using. */
@include mat.all-component-themes($Abschlussarbeiten-theme);