<mat-toolbar role="heading" style="position: fixed; z-index: 2">
  <mat-toolbar-row>
    <!-- <mat-icon (click)="drawer.toggle()" *ngIf="!drawer.opened" matTooltip="Filter öffnen"
              style="cursor: pointer; position: absolute">
      filter_list
    </mat-icon>
    <mat-icon (click)="drawer.toggle()" *ngIf="drawer.opened" matTooltip="Filter schließen"
              style="cursor: pointer; position: absolute">
      filter_list
    </mat-icon> -->
    <img *ngIf="!isInIFrame"
         ngSrc="assets/1280px-Signet_unibw.svg.png"
         style="max-height: 40px; width: auto; margin-left: 40px; margin-right: 40px" alt="image" height="247"
         width="1280">
    <div style="margin-left: auto">
      <span *ngIf="viewportWidth > 600"
            style="font-weight: bold; margin-right: 10px">Themen für Studentische Arbeiten</span>
      <mat-icon (click)="clickOnInfoIcon()" matTooltip="Mehr Infos" style="cursor: pointer; vertical-align: bottom">
        info
      </mat-icon>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="viewportWidth <= 600">
    <span style="font-weight: bold">Themen für Studentische Arbeiten</span>
  </mat-toolbar-row>
</mat-toolbar>



<mat-drawer-container autosize class="announcement_list_top" hasBackdrop="true"
                      style="margin-bottom: 50px; min-height: 50px">
  <mat-drawer #drawer class="announcement_list_top" mode="over" style="position: fixed; padding: 10px">

  </mat-drawer> 
  <mat-drawer-content>

  </mat-drawer-content>
</mat-drawer-container>

<div class="row">
  <div class="col-2">
    <app-announcements-filter></app-announcements-filter>
  </div>
  <div class="col-10">
    <app-announcement-list></app-announcement-list>
  </div>
</div>






<mat-toolbar class="footer" style="background-color: #ed6600; color: white; height: 20vh; display: flex; justify-content: center; align-items: center;">
  <div style="text-align: center;">
    <div style="margin-bottom: 5px;">
      <div>Universität der Bundeswehr München</div>
      <div>Werner-Heisenberg-Weg 39</div>
      <div>85577 Neubiberg</div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; margin-top: 2px;">
      <div style="margin-right: 10px;">
        <a href="https://de.linkedin.com/school/universitaet-der-bundeswehr-muenchen//" target="_blank">
          <mat-icon style="cursor: pointer; color: white; font-size: 20px;">linkedin</mat-icon>
        </a>
      </div>
      <div style="margin-right: 10px;">
        <a href="https://www.facebook.com/UniBwMuc/?locale=de_DE" target="_blank">
          <mat-icon style="cursor: pointer; color: white; font-size: 20px;">facebook</mat-icon>
        </a>
      </div>
    </div>
    <div style="font-size: 12px; margin-top: 5px;">
      <div>
        Made with <mat-icon style="cursor: pointer; color: white; font-size: 12px;">favorite</mat-icon> in Angular
      </div>
    </div>
  </div>
</mat-toolbar>



