.close {
  font-size: 330px;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.announcement_title {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 100%;
  line-height: 25px;
  color: #eeeeee;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 0 0 10px #000, 0 0 30px #000, 0 0 5px rgba(0, 0, 0, .7);
}

.announcement_description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding-bottom: 10px;
}

.announcement_requirements {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding-bottom: 10px;
}

.announcement_projects {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding-bottom: 10px;
}

.announcement_state {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 12px;
  font-size: 10px;
  font-weight: bold;
  padding: 3px;
}

.qr-code-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.qr-code-container h4 {
  font-weight: bold;
  color: #333;
}

.btn-custom {
  background-color: #ff9900; /* Orange Farbe */
  border-color: #ff9900; /* Randfarbe */
  color: white; /* Textfarbe */
}

.btn-custom:hover,
.btn-custom:focus {
  background-color: #e68a00; /* Dunklere Orange Farbe beim Hover */
  border-color: #e68a00; /* Randfarbe beim Hover */
}



